<h2 class = "text-center mt-4 text-dark"> Login </h2>
<%= form_with(scope: :session, url: login_path, local: true) do |f| %>
<div class = "container p-3 mb-2 mt-3 bg-light text-white col-6 shadow" id ="form-container-login">
	<div class = "form group text-center pt-4 ">
		<p> 
			<%= f.text_field :email, class: "form-control shadow", placeholder: "Enter your Email" %>
		</p>
		
		<p>
			<%=f.password_field :password, class: "form-control shadow", placeholder: "Enter your Password" %>
		</p>

		<p>
			<%=f.submit "Login", class: "btn btn-outline-success btn-lg login_signup_button"%>
		</p>


		<% end %>
	</div>
</div>

<p style = "text-align: center"><%=link_to 'Canel and Return Home', articles_path, class: "text-info"%></p>
