<%= form_with(model: @article, local: true) do |f| %>
<%= render 'pages/shared/errors', obj: @article %>
<div class = "container pt-5 pl-5 pr-5 pb-3 mb-2 bg-light text-white col-7 shadow" id ="form-container">
	<div class = "form group text-center ">
		<p> 
			<%= f.text_field :title, class: "form-control shadow" %>
		</p>

		<p>
			<%=f.text_area :description, rows:8, class: "form-control shadow" %>
		</p>

		<p>
			<%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b|%>
				 <%= b.label class:"text-on-white p-1" do%>
	         	 	<%=b.check_box + " " + b.text%>
	        	 <%end%>
    		<% end %>
		</p>

		<p>
			<%=f.submit class:"btn btn-outline-success btn-md" %>
		</p>


		<% end %>
	</div>
</div>

<p style = "text-align: center"><%=link_to 'Canel and Return Home', articles_path, class: "text-info"%></p>
